html {

}

body {

}

header {
    background-color: #4b2e83;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
}

header h1 {
    margin: 5px;
    border: 5px;
    padding: 10px;
    color: white;
}

nav {
    right:10px;
    padding: 10px;
    font-size: large;
}

nav a {
    color: white;
    text-decoration: none;
}

.top-nav {
    display: flex;
}

.top-nav-content {
    margin-right: 20px;
}

.card-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 400px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 10px;
    padding: 7px;
    flex: 0 0 250px;

}

.card a {
    text-decoration: none;
}

.card-content {
    padding: 5px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.card-content img {
    height: 20em;
    width: 20em;
    border-radius: 10px;
}

.card-content p {
    font-size: 1.2em;
}

footer {
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b2e83;
    color: white;
    text-align: center;
}


.resize {
    width: 80%;
    height: 50%;
}

.flexMap {
    flex-basis: auto;
    width: 40em;
    height: 60em;
  }

.flexFilterBy {
    font-family: 'Noto Sans', sans-serif;
    flex-basis: auto;
    padding: 5px;
}

.flexFilterBy h3 {
    font-size: 1.8em;
}
  
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 50px;
}

.flex-container img {
    border-radius: 10px;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 1.4em;
    cursor: pointer;
    font-size: 20px;
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    
}